#story{
  min-width: 300px;
  max-width: 300px;
}

#titleStyle:hover{
  cursor: pointer;
  text-decoration: underline;

}

#author{
  color: grey;
}

#comments{
  min-width: 300px;
  max-width: 300px;
}
