<div class="row">
  <div *ngFor="let currentNewsStory of childNewsStoryList | category">
    <div class="col-md">
      <div id="story" class="card">
        <h4 id ="titleStyle" (click)="titleClicked(currentNewsStory)">{{currentNewsStory.title}}</h4>
        <span id="author">{{currentNewsStory.author}}</span><br>
        {{currentNewsStory.info1}}<br>
        <!-- <span id="comment" (click)="commentButtonClicked(currentNewsStory)">Comment</span> -->
      </div>
      {{currentNewsStory.commentSection}}
    </div>
  </div>
</div>
