<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Home</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="show-info">showinfo</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div style="text-align:center">
    <h1>{{ title }}</h1>
  </div>
  <!-- <div>
    <app-news-list [childNewsStoryList]="masterNewsStoryList" (clickSender)="showInfo($event)"></app-news-list>
  </div>
  <div>
    <app-comments [childSelectedNewsStory]="selectedNewsStory"
    (clickedComment)="finishedCommenting()"></app-comments>
    <app-show-info [childSelectedNewsStory]="selectedNewsStory" (clickedDone)="finishedReading()"></app-show-info>
  </div> -->
  <router-outlet></router-outlet>
</div>
