<h3>Edit Story</h3>

<label>New Title:</label>
<input [(ngModel)]="selectedNewsStory.title">
<br>

<label>New Author:</label>
<input [(ngModel)]="selectedNewsStory.author">
<br>

<label>New Story Description:</label>
<input [(ngModel)]="selectedNewsStory.info1">

<label>New Story:</label>
<input [(ngModel)]="selectedNewsStory.fullStory">

<label>New comment:</label>
<input [(ngModel)]="selectedNewsStory.commentSection">

<button (click)="beginUpdatingNewsStory(selectedNewsStory)">Update</button>
